*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}


body{

display:flex;

background:#f4f7fb;

transition:0.4s;

}



/* Sidebar */


.sidebar{

width:260px;

height:100vh;

background:#111827;

color:white;

padding:30px;

}


.sidebar h2{

margin-bottom:40px;

}



.sidebar p{

margin:25px 0;

cursor:pointer;

transition:.3s;

}


.sidebar p:hover{

transform:translateX(10px);

color:#60a5fa;

}




/* Main */


.main{

flex:1;

padding:30px;

}





/* Header */


.header{


display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

border-radius:20px;

animation:slideDown .8s;

box-shadow:0 10px 30px #ddd;


}



.header-right{

display:flex;

align-items:center;

gap:20px;

}



.header input{

padding:12px;

border-radius:15px;

border:1px solid #ddd;

}





/* Cards */


.cards{

display:flex;

gap:25px;

margin-top:30px;

}



.card{


background:white;

padding:30px;

width:230px;

border-radius:20px;

box-shadow:0 10px 30px #ddd;

animation:cardLoad .8s;

transition:.4s;


}



.card:hover{

transform:translateY(-12px) scale(1.03);

}



.card p{

font-size:35px;

font-weight:bold;

margin-top:15px;

}







/* Chart */


.chart-box{


margin-top:40px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #ddd;

}





/* Chat */


.chat{


margin-top:40px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #ddd;


}



.message{


background:#eef2ff;

padding:20px;

border-radius:15px;

margin:20px 0;

}




.chat input{

width:70%;

padding:15px;

border-radius:15px;

border:1px solid #ddd;

}




button{

padding:12px 20px;

border:none;

border-radius:15px;

background:#111827;

color:white;

cursor:pointer;

transition:.3s;

}


button:hover{

transform:scale(1.1);

}




/* AI Models */


.models{

margin-top:40px;

background:white;

padding:30px;

border-radius:20px;


}



.model-card{


display:inline-block;

padding:20px;

margin:15px;

border-radius:15px;

background:#f1f5f9;


animation:pulse 2s infinite;


}




/* DARK MODE */


.dark{

background:#020617;

color:white;

}



.dark .header,
.dark .card,
.dark .chat,
.dark .models,
.dark .chart-box{

background:#1e293b;

color:white;

}







/* AI Loading Animation */


@keyframes pulse{


0%{

box-shadow:0 0 0px #60a5fa;

}


50%{

box-shadow:0 0 25px #60a5fa;

}


100%{

box-shadow:0 0 0px #60a5fa;

}


}






/* Entrance Animations */


@keyframes slideDown{


from{

opacity:0;

transform:translateY(-40px);

}


to{

opacity:1;

transform:translateY(0);

}


}




@keyframes cardLoad{


from{

opacity:0;

transform:scale(.7);

}


to{

opacity:1;

transform:scale(1);

}


}